body {
    padding: 0;
    margin: 0;
    font-family: Copperplate;
}

.hero {
    background-color: #1f2937;
}

.header, .hero-content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.logo {
    width: 450px;
    flex-shrink: 0;
    justify-content: start;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

p, .header-links, .quote {
    font-size: 16px;
    font-weight: 100;
}

.signup, .header-img {
    width: 450px;
}

.title {
    font-size: 42px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    padding: 12px 42px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #e5e7eb;
    font-family: Copperplate;
}

.body-one {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    align-items: center;
}

.illustrations {
    display: flex;
    flex: 1;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ill-img {
    max-width: 200px;
    height: auto;
    flex: 1;
    border: 4px solid;
    border-radius: 16px;
    border-color: #3882f6;
}

.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 32px 0px;
}

.body-three {
    padding: 32px 0px;
}

.ref {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.block {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    gap: 100px;
    background-color: #3882f6;
    border-radius: 16px;
    color: #e5e7eb;
}

button.but-two {
    border: 2px solid #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: #e5e7eb;
    background-color: #1f2937;
}